# Binary
core/
bin/sd*
*.o
*.a
*.so
*.core

# Config
.vim/
.vscode/
compile_*

# Cache
.*cache*/
make/sources/sd-sources.txt

# Dev
#unit/ # this is as of 202205311042 a make target: test
make/Sources.mk*
make/Flags.mk
make/Targets.mk
unit/test/src/*.[ch]
dev/
tags*
*.log*
*.in

# Documentation
*.gz
