### QUICKFIX ###

## Objects / Archives
#**/*.o
#**/*.a
#**/*.so
#
## Executables
#**/sdread
#**/sdexec
#**/sdcomp
#**/sdasm
#**/sdlink
#**/sdsh
#
## Units
#**/unit/
#
## Gzip man pages
#**/*.gz
#
## Tags
#**/tags
#
## Logging
#**/*.log
