# Objects / Archives / Cores / Executables -- binary
**/*.o
**/*.a
**/*.so
**/*core.*
**/*.core*
bin/sd*

# Gzip man pages
**/*.gz

# Dev
**/tags
**/compile_*
.cache
**/*.log
**/*.task
unit/
**/.vim
.vscode/**
